.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/contacthero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
  }

.nav2{
      
 
    list-style-type: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    padding: 0;
    border-style:solid;
    text-align: center

}

html, body{
    height: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
.title{
    margin-top: 250px;
    text-align: center;
    margin: auto;
    font-family: serif;
    font-size:25px;
    color: wheat;
}

.li{
    float: left;
    
  }

li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    font-family: serif;
    font-size: 35px;
    text-decoration: none;
}

li a:hover{
    color: rgb(127, 212, 124);
}

input{
    
    border-style:solid;
    text-align: center;
    font-family: serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
label{
    font-family: serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    display: block;
}
legend{
    font-size: 20px;
    font-family: serif;
    color: rgb(255, 255, 255);
    border-style: solid;
}
.nutsack{
      
}
